In [29]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_absolute_error , mean_squared_error , median_absolute_error

In [5]:
# load_data

path = "G:\\Data Field\\D..S..Course\\data.sc.Asem\\Data\\Data\\2.1 Linear Regression\\houses.csv"
data = pd.read_csv(path)
data

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,price
0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,1180.0,0.0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0,22.190
1,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,2170.0,400.0,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0,53.800
2,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,770.0,0.0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0,18.000
3,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,1050.0,910.0,1965.0,0.0,98136.0,47.5208,-122.393,1360.0,60.400
4,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,1680.0,0.0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0,51.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4.0,2.50,1860.0,6325.0,2.0,0.0,0.0,4.0,7.0,1860.0,0.0,1991.0,0.0,98038.0,47.3492,-122.030,1860.0,29.100
996,2.0,2.75,1590.0,20917.0,1.5,0.0,0.0,3.0,5.0,1590.0,0.0,1920.0,0.0,98001.0,47.2786,-122.250,1310.0,19.995
997,2.0,1.00,850.0,2340.0,1.0,0.0,0.0,3.0,7.0,850.0,0.0,1922.0,0.0,98105.0,47.6707,-122.328,1300.0,55.350
998,2.0,1.00,1030.0,4188.0,1.0,0.0,0.0,3.0,8.0,1030.0,0.0,1981.0,0.0,98038.0,47.3738,-122.057,1450.0,18.995
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Split_data into input , output

X = data.iloc[ : , : -1]

y = data.iloc[ : , -1]

In [7]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15
0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,1180.0,0.0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0
1,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,2170.0,400.0,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0
2,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,770.0,0.0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0
3,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,1050.0,910.0,1965.0,0.0,98136.0,47.5208,-122.393,1360.0
4,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,1680.0,0.0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4.0,2.50,1860.0,6325.0,2.0,0.0,0.0,4.0,7.0,1860.0,0.0,1991.0,0.0,98038.0,47.3492,-122.030,1860.0
996,2.0,2.75,1590.0,20917.0,1.5,0.0,0.0,3.0,5.0,1590.0,0.0,1920.0,0.0,98001.0,47.2786,-122.250,1310.0
997,2.0,1.00,850.0,2340.0,1.0,0.0,0.0,3.0,7.0,850.0,0.0,1922.0,0.0,98105.0,47.6707,-122.328,1300.0
998,2.0,1.00,1030.0,4188.0,1.0,0.0,0.0,3.0,8.0,1030.0,0.0,1981.0,0.0,98038.0,47.3738,-122.057,1450.0
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
y

0      22.190
1      53.800
2      18.000
3      60.400
4      51.000
        ...
995    29.100
996    19.995
997    55.350
998    18.995
999       NaN
Name: price, Length: 1000, dtype: float64

In [18]:
# Cleansing_data

Cleansing_data = SimpleImputer(missing_values= np.nan , strategy="mean")

X = Cleansing_data..fit_transform(X)

X

array([[-4.10268195e-01, -1.44995485e+00, -9.81897913e-01, ...,
        -2.72385899e-01, -3.55703043e-01, -9.65318233e-01],
       [-4.10268195e-01,  2.83121119e-01,  5.84365772e-01, ...,
         1.21117278e+00, -8.00389282e-01, -4.42971038e-01],
       [-1.58464621e+00, -1.44995485e+00, -1.44388936e+00, ...,
         1.33067775e+00, -1.83566434e-01,  1.09422214e+00],
       ...,
       [-1.58464621e+00, -1.44995485e+00, -1.35374469e+00, ...,
         8.55486406e-01, -8.64940510e-01, -1.02501506e+00],
       [-1.58464621e+00, -1.44995485e+00, -1.15091917e+00, ...,
        -1.24398248e+00,  1.07876870e+00, -8.01151972e-01],
       [-2.23820962e-16,  1.95399252e-16,  1.45661261e-16, ...,
        -2.85393022e-14,  2.35189646e-15, -2.66983440e-17]])

In [24]:
# Rescalling data 

Rescalling_data = StandardScaler()
X = Rescalling_data.fit_transform(X)
X

array([[-4.10268195e-01, -1.44995485e+00, -9.81897913e-01, ...,
        -2.72385899e-01, -3.55703043e-01, -9.65318233e-01],
       [-4.10268195e-01,  2.83121119e-01,  5.84365772e-01, ...,
         1.21117278e+00, -8.00389282e-01, -4.42971038e-01],
       [-1.58464621e+00, -1.44995485e+00, -1.44388936e+00, ...,
         1.33067775e+00, -1.83566434e-01,  1.09422214e+00],
       ...,
       [-1.58464621e+00, -1.44995485e+00, -1.35374469e+00, ...,
         8.55486406e-01, -8.64940510e-01, -1.02501506e+00],
       [-1.58464621e+00, -1.44995485e+00, -1.15091917e+00, ...,
        -1.24398248e+00,  1.07876870e+00, -8.01151972e-01],
       [-2.23820962e-16,  1.95399252e-16,  1.45661261e-16, ...,
        -2.85393022e-14,  2.35189646e-15, -2.66983440e-17]])

In [25]:
# Spliting data into Training and Testing data 

X_train , X_test , y_train , y_test = train_test_split( X , y , test_size = 0.33 , random_state =42 , shuffle = True )

In [26]:
# Apply SGD_Model and fit Model

SGD_Reg = SGDRegressor(alpha=1.5 , random_state = 42, loss ="squared_loss" , penalty = "l2" , max_iter=1000 , tol = 1e-3  )

SGD_Reg.fit(X_train , y_train)

SGDRegressor(alpha=1.5, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=42,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [30]:
# Details

#Cofficient Value
Model_Coef = SGD_Reg.coef_
#intercept Value
Model_intercept = SGD_Reg.intercept_

# Trianing Score
Traning_Score = SGD_Reg.score(X_train , y_train)
#Testing Score 
Testing_Score = SGD_Reg.score(X_test , y_test)
#Prediction
y_pred = SGD_Reg.predict(X_test)

#Model traning_Score 

Model_Traning_Score = SGD_Reg.score(X_train , y_train)

#Model Testing_Score

Model_Testing_Score = SGD_Reg.score(X_test , y_test)

# Get Metrics of Model

# Mean_Absolute_Error
MAE = mean_absolute_error(y_test, y_pred , multioutput="uniform_average")
# Mean_squared_Error
MSE = mean_squared_error(y_test, y_pred , multioutput="uniform_average")
# Median_Absolute_Error
Md_A_E = median_absolute_error(y_test, y_pred )

In [32]:

print(f"The Model Coef ::\n {Model_Coef}\n=====\nThe Model itercept :: {Model_intercept}\n=======\n\
The Training Score :: {Model_Traning_Score}\n=====\nThe Testing Score :: {Model_Testing_Score}\n======\n\
The MAE  :: {MAE}\n====\nThe MSE :: {MSE}\n======\nThe Median A_E :: {Md_A_E}")

The Model Coef ::
 [ 1.01132913  2.1609456   4.4965295   0.1171342   0.84554094  1.83028445
  3.05320254  0.69565106  4.51926465  3.65931621  2.44317396 -2.03779887
  2.27721268 -0.09494465  3.89894044 -0.68024805  4.25421966]
=====
The Model itercept :: [52.76738139]
=======
The Training Score :: 0.6350444114115172
=====
The Testing Score :: 0.6266776669599885
======
The MAE  :: 11.611265327150315
====
The MSE :: 345.9204654104411
======
The Median A_E :: 8.987114390236314

In [28]:
import numpy as np
import pandas as pd

dataset = pd.read_csv(path)

dataset.head(20)

from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(dataset)
dataset = imp.transform(dataset)


X = dataset[:, :-1]
y = dataset[:, -1]

X
y

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train
X_test
y_train
y_test


 
from sklearn.linear_model import SGDRegressor
 #clf = linear_model.SGDRegressor( penalty = 'l2' , max_iter=1000, tol=1e-3 , loss = 'huber')
sgd = SGDRegressor( penalty = 'l2' , max_iter=1000, tol=1e-3 , loss = 'squared_loss')
#clf = linear_model.SGDRegressor( penalty = 'l1' , max_iter=1000, tol=1e-3 , loss = 'huber')
#clf = linear_model.SGDRegressor( penalty = 'l1' , max_iter=1000, tol=1e-3 , loss = 'squared_loss')


sgd.fit(X_train, y_train)

y_pred = sgd.predict(X_test) 
y_pred

sgd.score(X_train,y_train)
sgd.score(X_test,y_test)

from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

266.08328402676244